*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
.idea/
*.jks
gen-external-apklibs
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
